.expense-card {
  background-color: var(--background-color); /* Use CSS variable for background color */
  color: var(--text-color); /* Use CSS variable for text color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly darker shadow */
  padding: 16px;
  margin-bottom: 16px;
}
.form-container {
  margin-top: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-container input[type="text"],
.form-container input[type="number"] {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #0056b3;
}